/*jadshjsdhjdhjbvjnj*/
*{
	margin: 0px;
	padding: 0px;
}
.contenedor{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	background:#5D7FA6;
	border-radius: 
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
/*Logo de la cabecera*/

header{
	width: 100%;
	height: 90px ;
	margin: 20px 0;
}

.logo{
	width: 30%;
	height: auto;
	float: left;
	margin: -10 0;

}
.logo img{
	width: 100%;
	height: auto;
}
/*Buscador de la cabecera*/
.buscador{
	margin: auto;
	margin-top: 20px;
	float: right;
		
}
.searchform { 
display: inline-block; zoom: 1; 
border: solid 1px #d2d2d2; 
padding: 3px 5px; 
-webkit-border-radius: 2em; 
-moz-border-radius: 2em; 
border-radius: 2em; 
-webkit-box-shadow: 0 1px 0px rgba(0,0,0,.1); 
-moz-box-shadow: 0 1px 0px rgba(0,0,0,.1); 
box-shadow: 0 1px 0px rgba(0,0,0,.1); 
background: #f1f1f1; 
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed)); 
background: -moz-linear-gradient(top, #fff, #ededed); 
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');  
-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');  
} 
.searchform input { 
	font: normal 12px/100% Arial, Helvetica, sans-serif;
	 } 
.searchfield { 
	background: #fff; padding: 6px 6px 6px 8px; width: 202px; border: solid 1px #bcbbbb; outline: none; -webkit-border-radius: 2em; -moz-border-radius: 2em; border-radius: 2em; -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2); -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2); box-shadow: inset 0 1px 2px rgba(0,0,0,.2); 
} 
.searchbutton { 
	color: #fff; border: solid 1px #494949; font-size: 11px; height: 27px; width: 27px; text-shadow: 0 1px 1px rgba(0,0,0,.6); -webkit-border-radius: 2em; -moz-border-radius: 2em; border-radius: 2em; background: #FF0E19; background: -webkit-gradient(linear, left top, left bottom, from(#1A4974), to(#1A4974)); background: -moz-linear-gradient(top,#FF0E19, #FF0E19); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie7 */ -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie8 */ 
}
/*Login de la cabecera*/
.logo_login {
	margin: auto;
	margin-top: 20px;
	float: right;
}
/*Slider*/
#slider{
box-shadow: 0 .1em 1em black;
-webkit-box-shadow: 0 .1em 1em black;
-moz-box-shadow: 0 .1em 1em black;
-o-box-shadow: 0 .1em 1em black;
}
/* ESTILOS DEL SLIDESHOW */
 
ul.bjqs{position:relative; list-style:none;padding:0;margin:0;display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}
 
 
/* BOTONERA UBICADA AL PIE DEL SLIDESHOW */
ol.bjqs-markers{
margin-top:35px;
}
ol.bjqs-markers li a{
	margin: 5px;
padding: 5px 10px;
background: #000;
color: #fff;

text-decoration: none;
transition:background .5s ease;
-webkit-transition:background .5s ease;
-moz-transition:background .5s ease;
-o-transition:background .5s ease;
}
li.active-marker a, ol.bjqs-markers li a:hover{
background:gray!important;
}
 

/*Menu de navegacion*/
nav{
	width: 100%;
	height: auto ;
	background:#5D7FA6;
	margin: 7px 0;
}


/*Section para la fecha*/
section {
	margin: auto;
  width: 31%;
  padding: 0px;
  float: left;
  background:#ffffff;
  box-sizing:border-box;
  	-webkit-border-radius: 10px 0 0 0;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.titulo h1{
	color: #1A4974;

	font: bold 180% monospace;
	text-align: center;

}
/*fin seccion para la fecha*/

#datepicker{margin-top: 20px;
	margin: auto;
	width: 100%;
	height: auto;
	float: left;

}


/*Selectores*/
select {
	margin: auto;
	margin-top: 10px;
	background:#FFFFFF;
	width: 100%;
	height: auto;
	font: bold 120% monospace;
	color: #1A4974;
}
/*Fin Selectores*/

/*Aside para google maps*/
aside{
	margin: auto;
	width: 69%;
	box-sizing:border-box;
	float: left;

	position: relative;
	// This is the aspect ratio
	height: 0;
	overflow: hidden;

	-webkit-border-radius: 10px 0 0 0;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
/*fin aside*/
/*footer*/
footer{
	clear:both;
	float: left;
	margin: auto;
	box-sizing:border-box;
    width: 100%;
    padding: 5px;
	background:rgb(26, 73, 116);
	text-align: center;
}

footer h6{
	padding: 5px;
	text-align: center;
	margin: auto;
	color: #fff;
}

#googleMap{
	position: relative;
	top: 0;
	left: 0;
	width: 100% !important;
	height:71% !important;
}

/*fin footer*/

/*Medias Querys*/
@media screen and (max-width: 911px){
	.logo img{
	max-width: 100%;
	height: auto;
	}
	section{
		width: 100%;
	}
	#datepicker{
		float: left;
	}
	aside{
		width: 100%;
	}
	#googleMap{
	position: relative;
	top: 0;
	left: 0;
	width: 100% !important;
	height:60% !important;
	}
}
@media screen and (max-width: 510px){

.logo img{
	max-width: 100%;
	height: auto;
	}
	.buscador{
	margin: auto;
	margin-top: 20px;
	float: right;
		
	}
	.logo_login {
	display: none;
	}
	section{
		width: 100%;
	}
	aside{
		width: 100%;
	}
	#googleMap{
	position: relative;
	top: 0;
	left: 0;
	width: 100% !important;
	height:50% !important;
	}
}

@media screen and (max-width: 420px){
	.logo{
	width: 30%;
	height: auto;
	float: left;
	margin: -10 100;

}
.logo img{
	width: 100%;
	height: auto;
	}

	.buscador{
	margin:auto;
	margin-top: 50px ;
	float: left;
	}
	.searchfield { 
	width: 239px; 
	border: solid 1px #bcbbbb;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em; border-radius: 2em;
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2); 
} 
	section{
		width: 100%;
	}
	aside{
		width: 100%;
	}
	#googleMap{
	position: relative;
	top: 0;
	left: 0;
	width: 100% !important;
	height:50% !important;
	}
}




