/*Logo de la cabecera*/
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?t1e5io');
	src:url('fonts/icomoon.eot?#iefixt1e5io') format('embedded-opentype'),
		url('fonts/icomoon.ttf?t1e5io') format('truetype'),
		url('fonts/icomoon.woff?t1e5io') format('woff'),
		url('fonts/icomoon.svg?t1e5io#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home2:before {
	content: "\e901";
}
.icon-file-empty:before {
	content: "\e924";
}
.icon-envelop:before {
	content: "\e945";
}
.icon-location:before {
	content: "\e947";
}
.icon-menu:before {
	content: "\e9bd";
}
